* {
  margin: 0;
  padding: 0;
  list-style: none;
}

.card-container {
  margin: 20px;
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 2px #ddd;
  border-radius: 5px;
}

.image-wrapper {
  width: 300px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  box-sizing: border-box;
  z-index: 10;
  background-color: #fff;
  transition: all .3s;
}

.image-wrapper:hover {
  transform: translateY(-2px);
  box-shadow: 0 0 5px #ddd;
}

.animal-pic {
  width: 290px;
}

.detail-wrapper {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 15px 10px;
}

.summary {
  font-size: 14px;
  font-style: italic;
}

.list {
  margin: 20px 0;
  font-size: 14px;
}

.description {
  font-size: 12px;
}

.title {
  animation: titleAnimation .5s ease-in 1 forwards;
}

@keyframes titleAnimation {
  0% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(0);
  }
}